:root {
    --base-white: hsl(0 0% 100%);
    --base-black: hsl(0 0% 0%);
    --base-dark-1: hsl(240 10% 4%);
    --base-dark-2: hsl(240 10% 6%);
    --base-dark-3: hsl(240 8% 9%);
    --base-dark-4: hsl(240 9% 13%);
    --base-dark-5: hsl(240 9% 16%);
    --base-dark-6: hsl(240 9% 21%);
    --base-light-1: hsl(240 9% 98%);
    --base-light-2: hsl(240 10% 96%);
    --base-light-3: hsl(240 10% 94%);
    --base-light-4: hsl(240 10% 90%);
    --base-light-5: hsl(240 8% 86%);
    --base-light-6: hsl(240 8% 81%);

    --font-size-xxs: 0.5rem;
    --font-size-xs: 0.75rem;
    --font-size-s: 0.875rem;
    --font-size-m: 1rem;
    --font-size-l: 1.25rem;
    --font-size-xl: 1.75rem;
    --font-size-xxl: 3rem;

    --line-height-xxs: 1.5;
    --line-height-xs: 1.5;
    --line-height-s: 1.5;
    --line-height-m: 1.5;
    --line-height-l: 1.15;
    --line-height-xl: 1.15;
    --line-height-xxl: 1;

    --gap-xs: 0.25rem;
    --gap-s: 0.5rem;
    --gap-sm: 0.75rem;
    --gap-m: 1rem;
    --gap-l: 2rem;
    --gap-xl: 4rem;
    --radius-s: 4px;
    --radius-m: 6px;
    --radius-l: 12px;
    --radius-xl: 20px;

    --blue-50: hsl(207 74% 8%);
    --blue-100: hsl(207 60% 18%);
    --blue-200: hsl(207 55% 29%);
    --blue-300: hsl(207 53% 41%);
    --blue-400: hsl(207 54% 51%);
    --blue-500: hsl(207 86% 65%);
    --blue-600: hsl(208 85% 74%);
    --blue-700: hsl(208 85% 82%);
    --blue-800: hsl(208 84% 90%);
    --blue-900: hsl(208 81% 96%);
    --blue-950: hsl(204 71% 99%);
    --danger-50: hsl(0 43% 9%);
    --danger-100: hsl(2 35% 20%);
    --danger-200: hsl(0 31% 33%);
    --danger-300: hsl(0 30% 47%);
    --danger-400: hsl(0 41% 58%);
    --danger-500: hsl(1 73% 73%);
    --danger-600: hsl(2 75% 79%);
    --danger-700: hsl(2 78% 86%);
    --danger-800: hsl(4 76% 92%);
    --danger-900: hsl(0 76% 97%);
    --danger-950: hsl(0 67% 99%);
    --gray-50: hsl(240 9% 9%);
    --gray-100: hsl(240 8% 20%);
    --gray-200: hsl(240 9% 32%);
    --gray-300: hsl(240 9% 45%);
    --gray-400: hsl(240 9% 55%);
    --gray-500: hsl(240 9% 68%);
    --gray-600: hsl(240 9% 75%);
    --gray-700: hsl(240 9% 82%);
    --gray-800: hsl(240 10% 90%);
    --gray-900: hsl(240 10% 96%);
    --gray-950: hsl(240 20% 99%);
    --primary-50: hsl(104 48% 6%);
    --primary-100: hsl(101 39% 15%);
    --primary-200: hsl(101 34% 24%);
    --primary-300: hsl(102 33% 35%);
    --primary-400: hsl(101 32% 43%);
    --primary-500: hsl(102 36% 55%);
    --primary-600: hsl(103 36% 66%);
    --primary-700: hsl(102 36% 76%);
    --primary-800: hsl(104 34% 87%);
    --primary-900: hsl(102 36% 95%);
    --primary-950: hsl(100 33% 98%);
    --warn-50: hsl(31 82% 6%);
    --warn-100: hsl(34 75% 14%);
    --warn-200: hsl(34 67% 24%);
    --warn-300: hsl(34 64% 34%);
    --warn-400: hsl(34 62% 43%);
    --warn-500: hsl(33 68% 55%);
    --warn-600: hsl(32 68% 67%);
    --warn-700: hsl(32 67% 78%);
    --warn-800: hsl(33 66% 87%);
    --warn-900: hsl(19 73% 96%);
    --warn-950: hsl(36 56% 98%);
    --background: var(--base-light-1);
    --base-hover: var(--base-light-3);
    --dropdown: var(--base-white);
    --input-border: var(--gray-800);
    --input-border-disabled: var(--gray-700);
    --input-border-focused: var(--gray-700);
    --input-disabled: var(--base-light-4);
    --input-disabled-borderless: hsl(240 10% 90%);
    --input-fill: var(--gray-950);
    --input-fill-borderless: hsl(240 10% 96%);
    --input-fill-focused: var(--base-white);
    --input-fill-focused-borderless: hsl(240 9% 98%);
    --layer: var(--base-white);
    --layer-above: var(--base-light-3);
    --layer-hover: var(--base-white);
    --layer-border: var(--base-light-3);
    --layer-border-hover: var(--base-light-4);
    --text-disabled: hsl(240 1% 79%);
    --text-ghost: hsl(240 3% 71%);
    --text-primary: hsl(260 3% 23%);
    --text-secondary: hsl(270 3% 54%);
    --button-danger: var(--danger-400);
    --button-danger-active: hsl(0 59% 60%);
    --button-danger-focus: var(--danger-300);
    --button-danger-hover: hsl(0 65% 64%);
    --button-danger-text: var(--danger-950);
    --button-disabled: var(--gray-900);
    --button-disabled-text: var(--text-ghost);
    --button-primary: var(--primary-400);
    --button-primary-active: hsl(101 40% 39%);
    --button-primary-focus: var(--primary-300);
    --button-primary-hover: hsl(101 34% 47%);
    --button-primary-text: var(--primary-950);
    --button-secondary: var(--gray-900);
    --button-secondary-active: hsl(240 8% 88%);
    --button-secondary-focus: var(--gray-500);
    --button-secondary-hover: hsl(240 12% 92%);
    --button-secondary-text: var(--gray-200);
    --button-warn: var(--warn-500);
    --button-warn-active: hsl(33 73% 53%);
    --button-warn-focus: var(--warn-300);
    --button-warn-hover: hsl(33 79% 57%);
    --button-warn-text: var(--warn-950);
    --button-checked: var(--blue-800);
    --button-checked-active: hsl(208 91% 86%);
    --button-checked-focus: var(--blue-400);
    --button-checked-hover: hsl(208 91% 88%);
    --button-checked-text: var(--blue-50);
    --status-at-risk: hsl(33 68% 55%);
    --status-blocked: hsl(46 61% 54%);
    --status-cancelled: hsl(284 33% 63%);
    --status-draft: var(--gray-400);
    --status-failed: var(--danger-400);
    --status-finished: var(--primary-400);
    --status-in-progress: var(--blue-400);
    --check-default: var(--gray-600);
    --check-default-hover: var(--gray-500);
    --check-default-disabled: var(--gray-800);
    --check-checked: var(--blue-400);
    --check-checked-hover: var(--blue-500);
    --check-checked-disabled: var(--gray-800);
    --check-outline: var(--gray-500);
    --check-mark: var(--base-white);
    --check-mark-disabled: var(--text-ghost);
    --check-rounded-checked: var(--primary-500);
    --check-rounded-checked-hover: var(--primary-600);
    --check-rounded-mark: var(--primary-950);
    --switch-backgound: var(--background);
    --switch-text-default: var(--text-secondary);
    --switch-text-hovered: var(--text-primary);
    --switch-text-active: var(--text-primary);
    --switch-background-active: hsl(240, 10%, 90%);
}
